
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    border:                0;
    padding:               0;
    margin:                0;
    box-sizing:            border-box;
    font-family:           'Roboto', sans-serif;
    color:                 white;
}

html, body {
    width:                 100%;
    height:                100%;
}

body {
    background-attachment: fixed;
    background-image:      url('./img/Background.jpg');
    background-repeat:     no-repeat;
    background-size:       cover;
    vertical-align:        middle;
}

.container {
    margin:                0 auto;
    width:                 100%;
    max-width:             1200px;
    height:                auto;
    min-height:            100%;
    background-color:      rgb(24, 24, 53);
}

header {
    width:                 100%;
    height:                auto;
    padding:               22px;
    border-bottom:         2px solid white;
    text-align:            center;
}

main {
    display:               flex;
    justify-content:       space-evenly;
    align-items:           center;
    flex-wrap:             wrap;
    gap:                   20px;
    padding:               30px 20px;

}

img {
    width:                 100%;
    max-width:             350px;
    height:                auto;
    vertical-align:        middle;
    border:                1px solid white;
    transition:            .2s;
}

img:hover {
    transform:             scale(1.1);
    transition:            .2s;
}